@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

body {
    background-color: #fffdf0; 
    color: #290102; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden; 
}

h1 {
    font-family: 'Jost', sans-serif; 
    color: #a7282f; 
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

.markdown-text {
    color: #290102;
    line-height: 1.6;
}

[data-testid="stSidebar"] {
    background: linear-gradient(135deg, #290102, #a7282f, #cdc69a, #fffdf0);
    color: #fffdf0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[data-testid="stSidebar"] h2,
[data-testid="stSidebar"] h3,
[data-testid="stSidebar"] p,
[data-testid="stSidebar"] .stButton button {
    font-family: 'Jost', sans-serif;
    color: #fffdf0;
}

a {
    color: #ffbebe;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #fffff0;
    text-decoration: underline;
}

[data-testid="stSidebar"] .stButton button {
    background-color: #a7282f;
    color: #fffdf0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

[data-testid="stSidebar"] .stButton button:hover {
    background-color: #cdc69a;
    color: #290102;
}

.stTextArea textarea {
    border: 1px solid #a7282f;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    color: #290102;
}

.stFileUploader {
    font-size: 1.2em;
    padding: 15px;
    border: 2px solid #a7282f;
    border-radius: 8px;
    background-color: #fffdf0;
}

.stFileUploader button {
    font-size: 1.2em;
    padding: 10px 20px;
}

[data-testid="stSuccess"] {
    color: #2e8b57;
}

[data-testid="stWarning"] {
    color: #ff6347;
}

[data-testid="stFooter"] {
    text-align: center;
    color: #a7282f;
    font-size: 0.9em;
    padding: 20px 0;
}
